.nav {
background-color:#00838f;
max-height: 100px;
padding-bottom: 25px;
}
#btn {
    align-items: right;
    position: absolute;
    right:0;
    padding-top:5px;
    padding-bottom:5px;
}
.content {
  background-color:#d9d9d9;
  text-align: center;
  padding-top: 50px;
}

.article {
    margin: auto;
    width: 60%;
    border: 3px solid #00838f;
    padding: 10px;
    text-align: left;
}
.search {
	border:0px;
	width :70%;
}
