.navbar {
background-color:#00838f;
max-height: 100px;
padding-bottom: 0px;
align-self: center;
}
button{
  background-color: #00838f;
  text-transform: uppercase;
  font-size: 12px;
  border: 0;
}
.google-login::before {
  float:right;
  position: absolute;
  color: transparent;
  background-image: url('./../images/google.png');
  background-size: cover;
  padding-top:16px;
  padding-right:16px;
  border:none;
}
#btn {
    align-items: right;
    position: absolute;
    right:0;
    padding-top:5px;
    padding-bottom:5px;
}
.content {
  background-color:#d9d9d9;
  text-align: center;
  padding-top: 50px;
}

.article {
    margin: auto;
    width: 60%;
    border: 3px solid #00838f;
    padding: 10px;
    text-align: left;
}
.search {
	border:0px;
	width :70%;
}

.dropbtn {
    color: white;
    padding-top: 18px;
    padding-bottom: 16px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    background-color:#00838f;
    width:120px;
    text-transform: uppercase;
}

.dropdown {
    position: relative;
    display: inline-block;
    align-self: center;
    width:120px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color:  #00838f;
}
body {
  background: #dfdfdf;
  font-family: 'Open Sans', sans-serif;
  color: #222;
}

a {
  color: currentColor;
  text-decoration: none;
}

p {
  font-size: 13px;
}

a:hover .card-outmore {
  background: #2C3E50;
  color: #fff;
}

a:hover .thecard {
  box-shadow: 0 10px 50px rgba(0,0,0,.6);
}

.thecard {
  width: 300px;
  margin: 5% 10px;
  box-shadow: 0 1px 30px rgba(0,0,0,.4);
  display: inline-block;
  background-color: #fff;
  border-radius: 2px;
  transition: 600ms ease-in;
}

.card-img {
  height: 168px;
}

.card-img img {
  width:100%;
  border-radius: 4px 4px 0px 0px;
}

.card-caption {
  position: relative;
  height: 168px;
  background: #ffffff;
  padding: 15px 25px 5px 25px;
  border-radius: 0px 0px 4px 4px;
  overflow: scroll;
}

.card-outmore {
  padding: 10px 25px 10px 25px;
  border-radius: 0px 0px 4px 4px;
  border-top: 1px solid #e0e0e0;
  background: #efefef;
  color: #222;
  display: inline-table;
  width: 100%;
  box-sizing: border-box;
  transition: 400ms ease;
}
.card-outmore h5 {
  float: left;
}
.card-outmore i {
  float: right;
}

span.date {
  font-size: 10px;
}

h1 {
  font-size: 22px;
}

h5 {
  margin:0;
}
